<div class="profile-menu" data-profile-menu>
    <button class="profile-menu__trigger" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="profileMenuPanel" data-profile-menu-trigger>
        <span class="profile-menu__compact-avatar" aria-hidden="true">HY</span>
        <span class="profile-menu__label">My learning</span>
    </button>

    <div class="profile-menu__panel" id="profileMenuPanel" role="menu" aria-label="Profile menu" data-profile-menu-panel>
        <div class="profile-menu__header">
            <span class="profile-menu__avatar" aria-hidden="true">HY</span>
            <div class="profile-menu__identity">
                <strong>Harshal Yelpale</strong>
                <span>harshal.yelpale@example.com</span>
            </div>
        </div>

        <nav class="profile-menu__nav" aria-label="Profile navigation">
            <a href="#" role="menuitem">My learning</a>
            <a href="#" role="menuitem">My activity</a>
            <a href="#" role="menuitem">Messages</a>
            <a href="#" role="menuitem">Account settings</a>
            <a class="profile-menu__language" href="#" role="menuitem">
                <span>Language</span>
                <span>English <span aria-hidden="true">&#127760;</span></span>
            </a>
            <a href="#" role="menuitem">Edit profile</a>
            <a href="#" role="menuitem">Help and Support</a>
            <a href="#" role="menuitem">Log out</a>
        </nav>
    </div>
</div>
